.App {
  font-family: sans-serif;
  text-align: center;
}

.box {
  border: 1px solid green;
  padding: 6px;
  margin: 6px;
}

.info {
  font-size: 12px;
  color: #fff;
  padding: 3px;
}

h3 {
  margin: 3px;
  background-color: #e0e0e0;
}
